<nav class="navbar navbar-expand-lg bg-secondary text-dark bg-opacity-20 sticky-top">
    <div class="container">
        <!-- First item in navbar  -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <i class="navbar-toggler-icon"></i>
        </button>


        <div class="collapse navbar-collapse text-dark" id="navmenu">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link text-white" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href="/about-me">About me</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- End My Navbar -->